
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 750px;
}
header>div.netflix>img{
    width: 200px;
}
header>div.netflix{
    width: 150px;
    position: relative;
    bottom: 650px;
    left: 150px;
}
header>div.background>img{
    height: 75%;
}
header>div.netflix>div.dropdown>button{
    position: relative;
    top: 25px;
    left: calc(50% * 9);
}
header>div.netflix>div.button{
    width: 50px;
}
header>div.netflix>div.button>button.btn{
    width: 100px;
    position: relative;
    left: calc(50% * 20);
    top: 25px;
}
div.email>input{
    width: 25%;
}
header>h1{
    position: relative;
    bottom: 500px;
}
header>p{
        position: relative;
    bottom: 500px;
}
header>h3{
    position: relative;
    bottom: 500px;
}
header>form{
        position: relative;
    bottom: 450px;
}
div.support{
    background-color: #1D1939;
    width: 650px;
    height: 70px;
    margin: auto;
    position: relative;
    bottom: 25px;

}
div.support>h3{
        font-size:medium ;
        width: 350px;
        position: relative;
        top: 10px;
        
}
div.support>p{
    width: 550px;
    position: relative;
    bottom: 10px;
}
div.support>a{
    width: 85px;
    position: relative;
    background-color: #404358;
    text-decoration: none;
    height: 30px;
    padding-right: 2px;
}
    div.trending{
        width: 100%;
    }
    div.trending>h2{
        padding-left: 90px;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    div.swiper1{
        width: 90%;
        height: 90%;
    }

div.support:hover{
    background-color: rgb(70, 37, 101);
}
div.join>h2{
    font-size:x-large;
    margin-left: 90px;
}
div.enjoy{
    height: 420px;
    width: 1052px;
    margin: 1px auto;
}
div.enjoy>div.tv>svg{
    margin-left: 350px
}
div.enjoy>div.tv{
    width: 45%;
    height: 200px;
    background-color: #1F1425;

}
div.enjoy>div.tv>h3{
    font-size: x-large;
}
div.question{
    width: 100%;
    height: 100px;
    padding-left: 90px;
}
div.question>h2{
        font-size: x-large;
}
div.accordion{
    width: 85%;
    margin: 2px auto;
}
div.accordion>div.accordion-item>h2>button{
    background-color: rgb(45, 45, 45);
}
div.redy{
    width: 100%;
    height: 80px;

}
div.redy>h3{
        font-size: large;
        position: relative;
        top: 50px;
}
form.email2{
    height: 90px;
}
div.contact{
    width: 100%;
    height: 60px;
}
div.contact>a{
    color: #ADB0B3;
    margin-left: 90px;
}
footer>div.footer{
    height: 270px;
    width: 85%;
    margin-left: 55px;
}
footer>div.footer>ul{
    list-style: none;
    text-decoration: underline;
    color: #B3B3B3;
}
footer>div.dropdown{
    margin-left: 80px;
    height: 90px;
}
div.France{
    width: 80%;
    height: 50px;
}
div.France>span{
    color: #B3B3B3;
    margin-left: 80px;
}
div.notrobat{
    width: 85%;
    height: 150px;
}
div.notrobat>span{
    color: #B3B3B3;
   margin-left: 80px;
}





